--protected --output-dir doc/out/yard --markup rdoc --readme README.md \
    lib/fl/framework.rb lib/fl/framework/version.rb \
    lib/fl/framework/active_record.rb lib/fl/framework/application_record.rb \
    lib/fl/framework/captcha.rb \ lib/fl/framework/query.rb \
    lib/fl/framework/core.rb lib/fl/framework/core/\*\*/\*.rb \
    lib/fl/framework/access.rb lib/fl/framework/access/\*\*/\*.rb \
    lib/fl/framework/comment.rb lib/fl/framework/comment/\*\*/\*.rb \
    lib/fl/framework/attachment.rb lib/fl/framework/attachment/\*\*/\*.rb \
    lib/fl/framework/service.rb lib/fl/framework/service/\*\*/\*.rb \
    lib/fl/framework/controller.rb lib/fl/framework/controller/\*\*/\*.rb \
    lib/fl/framework/neo4j.rb lib/fl/framework/neo4j/\*\*/\*.rb \
    lib/fl/framework/test.rb lib/fl/framework/test/\*\*/\*.rb \
    lib/paperclip_processors/\*.rb
